[Desktop Entry]
Name=Linn
Comment=GTK4 Music Player
Exec=linn
Icon=io.github.ljyh223.Linn
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
StartupNotify=true